body {
    overflow-x: hidden;
}

.row {
    height: 100vh;
}

.display-1 {
    font-size: 20rem;
    font-weight: 400;
    color: #20515B;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

i {
    font-size: 2rem;
}

.btn-outline-primary {
    width: 75px;
    height: 75px;
    color: #20515B;
    background-color: transparent;
    background-image: none;
    border-color: #20515B;
    border-radius: 50%;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #20515B;
    border-color: #20515B;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #20515B;
    border-color: #20515B;
}